<%# <% provide(:title, '')%> %>
<div class="center jumbotron">
  <h1>twilikeへようこそ！</h1>
  <br />
  <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200px"),
                      "https://rubyonrails.org/" %>
