
<h1>パスワード再設定メール</h1>

<p>下記リンクからパスワードを再設定してください</p>

<%= link_to "こちら", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>※こちらのリンクの有効期限は２時間です</p>

<p>※このメールに見覚えの無い場合、このメールは無視していただいて構いません</p>

